@inject CarController carService
@inject SlotController slotService
@page "/cadastrados"

<div class="row">

    <div class="card">

        <h1>  Carros Cadastrados </h1>

        @if (RegisteredCars == null)
        {
            <p><em>@messageCar</em></p>
        }
        else
        {
            <table class="table">

                <thead>

                    <tr>
                        <th>Id</th>
                        <th>Tipo</th>
                        <th>Fabricante</th>
                        <th>Modelo</th>
                        <th>Ano</th>
                    </tr>

                </thead>

                <tbody>

                    @foreach (var item in RegisteredCars)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Type.Name</td>
                        <td>@item.Model.Manufacturer.Name</td>
                        <td>@item.Model.Name</td>
                        <td>@item.Model.Year</td>
                    </tr>
                    }

                </tbody>

            </table>
        }

    </div>


    <div class="card">

        <h1> Vagas Cadastradas </h1>

        @if (Slots == null)
        {
            <p><em>@messageSlot</em></p>
        }
        else
        {
            <table class="table">

                <thead>

                    <tr>
                        <th style="max-width: 100px">Id</th>
                        <th style="max-width: 100px">Nome</th>
                        <th style="max-width: 100px">Distâcia da Porta</th>
                        <th>Categorias</th>
                        <th>Ocupada</th>
                    </tr>

                </thead>

                <tbody>

                    @foreach (var item in Slots)
                    {
                        <tr>
                            <td style="max-width: 150px">@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.DistDoor</td>

                            @if (item.Types == null)
                            {
                                <td>Carregando...</td>
                            }
                            else
                            {
                                <td>
                                    @foreach (var x in item.Types)
                                    {
                                        <label>@x.Name ,<br/></label>
                                    }
                                </td>
                            }

                            <td>@item.IsBusy</td>

                        </tr>
                    }

                </tbody>

            </table>
        }

    </div>

</div>

@code {

    List<Car> RegisteredCars;
    List<SlotDTO> Slots;

    string messageCar = "Loading ...";
    string messageSlot = "Loading ...";

    //Request da API de Carros conhecidos pelo sistema e slots existente no estacionamento
    protected override async Task OnInitializedAsync()
    {
        RegisteredCars = await carService.GetAllCarsAsync();
        Slots = await slotService.GetAllSlotsAsync();

        if (RegisteredCars == null)
        {
            messageCar = "Nenhum carro registrado no banco.";
        }
        if (Slots == null)
        {
            messageSlot = "Nenhuma Vaga registrada no banco.";
        }
    }
}